:root {
    /* Colors */
    --primary-Soft-red: hsl(7, 99%, 70%);
    --primary-Yellow: hsl(51, 100%, 49%);
    /* Graphic Design Text */
    --primary-Dark-desaturated-cyan: hsl(167, 40%, 24%);
    /* Fotopgraphy text */
    --primary-Dark-blue: hsl(198, 62%, 26%);
    /* Footer */
    --primary-Dark-moderate-cyan: hsl(168, 34%, 41%);

    --neutral-Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --neutral-Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --neutral-Dark-grayish-blue: hsl(232, 10%, 55%);
    --neutral-Grayish-blue: hsl(210, 4%, 67%);
    --neutral-White: hsl(0, 0%, 100%);

    /* Typography */
    --ff-primary: 'Barlow', sans-serif;
    --ff-secondary: 'Fraunces', serif;
    --fs-body: 1.125rem;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-black: 900;
}


/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* General Styling */

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-semibold);
    color: var(--neutral-Dark-grayish-blue);
}

a {
    text-decoration: none;
    color: var(--neutral-Dark-grayish-blue);
}

.wrapper {
    margin-inline: 1rem;
}

.flow-content>*+* {
    margin-block-start: var(--spacer, 1em);
}

h1,
h2,
.learn-more,
.testimonials-title,
.testimonial-name {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-black);
    text-align: center;
}

h2,
.learn-more {
    color: var(--neutral-Very-dark-desaturated-blue);
}

h1 {
    font-size: 2.5rem;
    line-height: 1.1;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--neutral-White);
}

h2 {
    font-size: 2rem;
}

header {
    padding-top: 2rem;
    height: 100dvh;
    height: 100vh;

    background-image: url(./images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

header h1 {
    margin-bottom: 3.8rem;
}

.invisible {
    display: none;
}

#menuBtn {
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
}

.nav-logo__flex-wrapper {
    margin-bottom: 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    margin-inline: auto;
}

.menu {
    padding-block: 2rem;
    width: calc(100% - 2rem);
    position: absolute;
    top: 100px;
    text-align: center;
    background-color: var(--neutral-White);
}

.menu::before {
    content: '';
    display: block;
    width: 25px;
    aspect-ratio: 1;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-color: var(--neutral-White);
}

.menu ul {
    padding: 0;
    display: grid;
    gap: 1.5rem;
}

.contact {
    padding: .5rem 1.3rem;
    line-height: 0;
    border-radius: 100vh;
    font-family: var(--ff-secondary);
    color: var(--neutral-Very-dark-desaturated-blue);
    background-color: var(--primary-Yellow);
}

/* Grid section */

.grid-section {
    display: grid;
}

.row {
    text-align: center;

    display: flex;
    flex-direction: column;
}

.row-content {
    --spacer: 2rem;
    padding-block: 3rem;
}

.accent-yellow {
    --fg: var(--primary-Yellow);
}

.accent-redish {
    --fg: var(--primary-Soft-red);
}

.learn-more {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}

.learn-more::after {
    content: '';
    display: block;
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 3px;
    border-radius: 100vh;
    background-color: var(--fg);
    opacity: .6;
    z-index: -1;
}

.learn-more:hover::after {
    opacity: 1;
}

.body-design {
    --fg: var(--primary-Dark-desaturated-cyan);
}

.body-photography {
    --fg: var(--primary-Dark-blue);
}

.design h2 {
    color: var(--fg);
}

.photography h2 {
    color: var(--fg);
}

.design,
.photography {
    padding-top: 25rem;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    color: var(--fg);
}

.design {
    background-image: url(./images/mobile/image-graphic-design.jpg);
}

.photography {
    background-image: url(./images/mobile/image-photography.jpg);
}

/* Testimonials */

.testimonials {
    padding-inline: 1.3rem;
    padding-block: 3.5rem;
    text-align: center;
    color: var(--neutral-Very-dark-grayish-blue);

    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.testimonials-title {
    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--neutral-Grayish-blue);
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.testimonial img {
    width: 70px;
    border-radius: 50%;
}

.testimonial-name {
    color: var(--neutral-Very-dark-desaturated-blue);
}

.testimonial-job {
    font-size: 1rem;
    color: var(--neutral-Grayish-blue);
}

/* Grid photos */

.grid-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Footer */

footer {
    padding-block: 4rem;
    background-color: var(--primary-Dark-moderate-cyan);

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer svg {
    fill: var(--primary-Dark-desaturated-cyan);
}

footer nav ul {
    margin-block-end: 4rem;
    padding: 0;
    
    display: flex;
    gap: 3rem;
}

footer nav a {
    color: var(--primary-Dark-desaturated-cyan);
}

.socials {
    padding: 0;
    
    display: flex;
    gap: 1.5rem;
}

.socials svg {
    fill: hsl(167, 40%, 24%);
}

footer nav a:hover,
.socials svg:hover {
    fill: var(--neutral-White);
    color: var(--neutral-White);
}